.botoezinhos{
    flex-wrap: wrap;
    display: flex;
    
}

#botcolorido{
    width: 100px;
    height: 100px;
    align-items: center;
    margin-left: 50px;
}

.biotec{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'PT Serif', serif;
}

#textbiotec{
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.indicados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mcazul{
    background-color: rgb(173, 216, 230);
}